@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mouse+Memoirs&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* Utility classes*/
.alignment {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding-block: clamp(0.8em, 5vw, 1em);
  padding-inline: clamp(1em, 5vw, 9em);
  border-radius: var(--btn-radius);
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: var(--btn-font);
  box-shadow: rgba(99, 99, 99, 0.4) -2px 2px 7px 0px;
  transition: 0.3s ease-in-out;
}
:root {
  --btn-radius: 6px;
  --accent-clr: #1f88e9;
  --accent-clr2: #d2ff7a;
  --accent-clr3: #d64343;
  --gray-clr: #b8b8b8;
  --primary-clr: #fefefe;
  --secondary-clr: #161a27;
  --less-black: #292626;
  --btn-font: "poppins";
  --primary-font: "Mouse Memoirs", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --box-shadow: rgb(0, 0, 0, 0.5) 2px, 0, 8px, 0;
}
/*Utility End*/

body {
  font-family: "poppins";
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.score {
  font-size: 1rem;
  color: var(--less-black);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}
.score__col {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  padding-right: 0;
  min-height: 113.433px;
}
.outcome {
  min-height: 34.4px;
}
.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player__score,
.computer__score {
  color: var(--less-black);
  font-size: 2.5rem;
  opacity: 0.5;
  font-weight: 100;
}
.player__title {
  background-color: var(--less-black);
  padding: 0.2em 1em;
  border-radius: 4px;
  color: var(--primary-clr);
}
.computer__title {
  background-color: var(--less-black);
  padding: 0.2em 1em;
  border-radius: 4px;
  color: var(--primary-clr);
}
#userr,
#compp {
  color: #d64343;
  text-transform: uppercase;
  font-weight: bold;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.header:nth-child(2) {
  display: flex;
}
.header img {
  max-width: 50px;
  cursor: pointer;
}
.round {
  color: black;
}
.round__span {
  color: black;
  margin-left: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.4) -2px 2px 7px 0px;
  /* transition: transform 300ms ease-in-out; */
  cursor: pointer;
  margin-block-end: 0.5rem;
  background-color: var(--less-black);
  border-radius: 50%;
  /* max-width: 400px; */
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 107px;
  height: 107px;
  aspect-ratio: 1/1;
  padding: 2rem;
}

.box__title {
  /* writing-mode: vertical-rl; */
  color: var(--primary-clr);
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--secondary-font);
  /* 		font-size: 1.4rem; */
  padding: 1rem;
  justify-self: flex-end;
}
.box img {
  /* border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 10%; */
  display: none;
}

.button {
  display: flex;
  /* 	gap: 3rem; */
  flex-wrap: wrap;
  /* max-width: 300px; */
  width: 100%;
  justify-content: center;
}

.reset__btn {
  flex: 1;
}

.reset__btn:hover {
  background-color: var(--accent-clr3);
  color: var(--primary-clr);
}

.help__btn:hover {
  background-color: var(--accent-clr);
  color: var(--primary-clr);
}

.user_win {
  border: 3px solid #00ff00;
  box-shadow: 0px 0px 8px 4px #00ff006b;
}
.user_lose {
  border: 3px solid #ff0000;
  box-shadow: 0px 0px 8px 4px #ff000064;
}
.user_draw {
  border: 3px solid #c1c1c1;
  box-shadow: 0px 0px 8px 4px #c1c1c16b;
}

.modal {
  width: 80%;
  /* display: flex; */
  flex-direction: column;

  margin: auto auto;
  padding: 1rem;
}

.modal::backdrop {
  background: black;
  opacity: 0.8;
}

.close-wrap {
  display: flex;
  justify-content: center;
}

.close__modal {
  font-size: 0.7em;
  padding-block: clamp(0.8em, 5vw, 1em);
  padding-inline: clamp(1em, 5vw, 2em);
  margin-bottom: 1rem;
}
.close__modal:hover {
  background-color: var(--accent-clr3);
  color: var(--primary-clr);
}

#new__game {
  /* display: flex; */
  margin: auto auto;
  width: 80%;
  background-color: transparent;
  text-align: center;
}

.new__game::backdrop {
  background: black;
  opacity: 0.8;
}
.game__outcome {
  color: var(--primary-clr);
  /* margin-bottom: 2rem; */
  font-size: 2.5rem;
}
.final-score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.final__user__score,
.final__comp__score {
  color: var(--accent-clr);
  font-size: 3rem;
}
.final__score__line {
  background-color: var(--primary-clr);
  height: 5px;
  width: 20px;
  margin-inline: 1rem;
}
.newgame-wrap_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newGame__btn {
  background-color: var(--accent-clr2);
  font-weight: bold;
}

/* -------------------------------- */
/* -----------media query---------- */
/* -------------------------------- */
@media screen and (min-width: 600px) {
  .row {
    display: flex;
  }
  body {
    height: 100vh;
  }
  .wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    align-items: center;

    padding: 2rem 0;
  }
  .flex-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  .header img {
    max-width: 80px;
  }

  .score-block {
    /* background-color: var(--less-black); */
    color: var(--primary-clr);
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .score {
    font-size: 1rem;
    color: var(--less-black);
    text-transform: uppercase;
    font-weight: 700;
    /* position: absolute; */
    /* top: 0; */
    /* right: 148px; */
    /* margin-bottom: 0.5rem; */
  }

  .score__col {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0;
    padding-right: 0;
    min-height: 165.83px;
  }

  .player,
  .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player__title {
    background-color: #a5a5a5;
    padding: 0.4em 1em;
    border-radius: 4px;
    color: var(--primary-clr);
  }

  .line {
    height: 11px;
    width: 5px;
    background-color: var(--less-black);
  }

  .player__score,
  .computer__score {
    color: var(--less-black);
    font-size: 4rem;
    opacity: 0.5;
    font-weight: 100;
  }

  .computer__title {
    background-color: #a5a5a5;
    padding: 0.4em 1em;
    border-radius: 4px;
  }
  #userr,
  #compp {
    color: #d64343;
    text-transform: uppercase;
    font-weight: bold;
  }
  .outcome {
    color: var(--accent-clr3);
    text-transform: uppercase;
    font-weight: 700;
  }

  .header__choose {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .box {
    max-width: 250px;
    width: auto;
    flex-direction: column;
    border-radius: 4px;

    height: 200px;
    justify-content: center;
    align-items: center;
    flex: 1;
    aspect-ratio: 0;
    padding: 1rem;
    border: 4px solid transparent;
    transition: transform 300ms ease-in-out;
  }
  .box__title {
    writing-mode: horizontal-tb;
    padding: 0.5rem;
  }
  .box img {
    width: 50%;
    display: block;
  }
  .box:hover {
    transform: translate(0px, 0) scale(1.05);
  }
  .button {
    margin-top: 2rem;
    max-width: 750px;
    width: 100%;
  }
  .reset__btn {
    flex: 1;
  }
  .user_win {
    border: 3px solid #00ff00;
    box-shadow: 0px 0px 8px 4px #00ff006b;
  }
  .user_lose {
    border: 3px solid #ff0000;
    box-shadow: 0px 0px 8px 4px #ff000064;
  }
  .user_draw {
    border: 3px solid #c1c1c1;
    box-shadow: 0px 0px 8px 4px #c1c1c16b;
  }

  .modal {
    width: 50%;
    /* display: flex; */
    flex-direction: column;

    margin: auto auto;
    padding: 1rem;
    transition: 300ms ease-in-out;
  }

  .close-wrap {
    display: flex;
    justify-content: center;
  }

  .close__modal {
    font-size: 0.7em;
    padding-block: clamp(0.8em, 5vw, 1em);
    padding-inline: clamp(1em, 5vw, 2em);
    margin-bottom: 1rem;
  }
  .close__modal:hover {
    background-color: var(--accent-clr3);
    color: var(--primary-clr);
  }

  .game__outcome {
    color: var(--primary-clr);
    margin-bottom: 0rem;
    font-size: 3.5rem;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  }
  .final-score {
    color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .final__user__score,
  .final__comp__score {
    color: var(--accent-clr);
    font-size: 3.5rem;
    font-weight: bold;
  }
}
.screen__good {
  display: none;
}

.evil_img {
  display: none;
}
.good_img {
  display: block;
}
